# Student Record File Workflow

## Overview
Functions to obtain and clean data required for the Student Record File in Python using Census API and NCES files. 

The workflow produces a Student Person Record (SREC) file that can be linked to the Person Record File. The file includes student level records with sex, grade level, race and ethnicity.

Based on NCES data. 

The output of this workflow is a CSV file with the student record file.

The output CSV is designed to be used in the Interdependent Networked Community Resilience Modeling Environment (IN-CORE) for the housing unit allocation model.

IN-CORE is an open source python package that can be used to model the resilience of a community. To download IN-CORE, see:

https://incore.ncsa.illinois.edu/


## Instructions
Users can run the workflow by executing each block of code in the notebook.

Users can modify the code to select one county or multiple counties.

## Description of Program
- program:    ncoda_07ev1_run_SREC_workflow
- task:       Obtain School Location and Attendance Boundaries
- Version:    2023-02-10
- project:    Interdependent Networked Community Resilience Modeling Environment (IN-CORE) Subtask 5.2 - Social Institutions
- funding:	  NIST Financial Assistance Award Numbers: 70NANB15H044 and 70NANB20H008 
- author:     Nathanael Rosenheim

- Suggested Citation:
Rosenheim, Nathanael (2021) “Detailed Household and Housing Unit Characteristics: Data and Replication Code.” DesignSafe-CI. 
https://doi.org/10.17603/ds2-jwf6-s535.

## Setup Python Environment

In [1]:
# Import Python Packages Required for program
import pandas as pd       # Pandas for reading in data 
import geopandas as gpd   # Geopandas for reading Shapefiles
import numpy as np        # Numpy for working with arrays
import os                 # Operating System (os) For folders and finding working directory
import sys
import zipfile            # Zipfile for working with compressed Zipped files
import wget               # Wget for downloading files from the web
import scooby # Reports Python environment

In [47]:
# Generate report of Python environment
print(scooby.Report(additional=['pandas']))

--------------------------------------------------------------------------------
  Date: Thu Feb 16 12:22:32 2023 Central Standard Time

                OS : Windows
            CPU(s) : 12
           Machine : AMD64
      Architecture : 64bit
               RAM : 31.6 GiB
       Environment : Jupyter

  Python 3.8.16 | packaged by conda-forge | (default, Feb  1 2023, 15:53:35)
  [MSC v.1929 64 bit (AMD64)]

            pandas : 1.5.3
             numpy : 1.24.2
             scipy : 1.10.0
           IPython : 8.10.0
        matplotlib : 3.6.3
            scooby : 0.7.1
--------------------------------------------------------------------------------

In [48]:
#To replicate this notebook Clone the Github Package to a folder that is a sibling of this notebook.
# To access the sibling package you will need to append the parent directory ('..') to the system path list.
# append the path of the directory that includes the github repository.
# This step is not required when the package is in a folder below the notebook file.
github_code_path  = ""
sys.path.append(github_code_path)

In [49]:
os.getcwd()

'c:\\Users\\nathanael99\\MyProjects\\github\\intersect-community-data'

In [50]:
# To reload submodules need to use this magic command to set autoreload on
%load_ext autoreload
%autoreload 2
# open, read, and execute python program with reusable commands
from pyncoda.CommunitySourceData.nces_ed_gov.nces_01a_downloadfiles \
    import *
from pyncoda.CommunitySourceData.nces_ed_gov.nces_00c_cleanutils \
    import *
from pyncoda.CommunitySourceData.nces_ed_gov.nces_02c_SRECcleanCCD \
    import *
from pyncoda.CommunitySourceData.nces_ed_gov.nces_02d_SRECtidy \
    import *

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

## Obtain NCES Files
This section of code provides details on the web addresses for obtaining the NCES data. These datafiles are quiet large. It is recommended that the files are downloaded once. To facilitate the downloading of the files a Comma Seperated Values (CSV) file was create using Microsoft Excel (note CSV files are easier to read into the notebook). The CSV file includes the descriptions and important file names to be obtained. This input file can be modified for different school years.

In [51]:
folder_path = 'pyncoda\\CommunitySourceData\\nces_ed_gov\\'
filename = 'nces_00b_ObtainSchoolData_2023-02-22.csv'
downloadlistcsv = folder_path + filename
county_list = ['37155']
communityname = "RobesonCounty_NC"
#county_list = ['48167']
#communityname = "Galveston_TX"
outputfolder = f"OutputData\\{communityname}\\01_CommunitySourceData"
outputfolder_tidy = f"OutputData\\{communityname}\\02_TidyCommunitySourceData"

year = '2015-2016'

In [52]:
schoollist_community = create_schoolist_community(downloadlistcsv, 
                        county_list,
                        communityname,
                        outputfolder,
                        year)

File EDGES_GEOCODED_SCHOOLDATA_2015-2016_RobesonCounty_NC.shp already exists.
File will not be overwritten.

In [53]:
SAB_community = create_sab_community(downloadlistcsv, 
                        schoollist_community,
                        communityname,
                        outputfolder,
                        year)

File EDGES_SAB_2015-2016_RobesonCounty_NC.shp already exists.
File will not be overwritten.

In [54]:
sab_boundaries = split_SAB_gradelevel(SAB_community,
                    outputfolder,
                    year)

PrimarySAB
MiddleSAB
HighSAB
OtherSAB
    No data for OtherSAB . Skipping.
OpenEnrollSAB

## Generate NCES Student Record File
Based on Common Core Data file for schools.

In [55]:
ccd_df = nces_clean_student_ccd(outputfolder,
        county_list = county_list, 
        communityname = communityname)

File OutputData\RobesonCounty_NC\01_CommunitySourceData/nces_ccd_RobesonCounty_NC_09.csv Already exists - Skipping Clean CCD NCES.

In [56]:
ccd_df.head()

,NCESSCH,FIPST,LEAID,SCHNO,STID09,SEASCH09,LEANM09,SCHNAM09,PHONE09,MSTREE09,...,HPALF09,TR09,TRALM09,TRALF09,TOTETH09,TotalStudents,CheckTotal1,CheckTotal2,CountFlag1,CountFlag2
0,370004002349,37,3700040,2349,78A,0,CIS ACADEMY,CIS ACADEMY,9105211669,PO BOX 706,...,0,0,0,0,109,109,0,0,0,0
1,370393001569,37,3703930,1569,780,320,ROBESON COUNTY SCHOOLS,DEEP BRANCH ELEMENTARY,9107382514,4045 DEEP BRANCH ROAD,...,0,0,0,0,477,477,0,0,0,0
2,370393001570,37,3703930,1570,780,324,ROBESON COUNTY SCHOOLS,FAIRGROVE MIDDLE,9106288290,1953 FAIRGROVE SCH ROAD,...,0,0,0,0,318,318,0,0,0,0
3,370393001571,37,3703930,1571,780,328,ROBESON COUNTY SCHOOLS,GREEN GROVE ELEMENTARY,9106287433,1850 SCHOOL ROAD,...,0,0,0,0,252,252,0,0,0,0
4,370393001572,37,3703930,1572,780,336,ROBESON COUNTY SCHOOLS,LITTLEFIELD MIDDLE,9106716065,9674 NC HWY 41 N,...,0,0,0,0,781,781,0,0,0,0

In [57]:
srec_df = tidy_SREC_nces(outputfolder_tidy, 
                ccd_df = ccd_df,
                communityname = communityname,
                year = '09')

******************************
 Reshaping data from wide to long
******************************
******************************
 Add characteristic variables
******************************
      Add race =  American Indian/Alaska Native
      Add race =  Asian/Hawaiian Native/Pacific Islander
      Add race =  Hispanic
      Add race =  Black, non-Hispanic
      Add race =  White, non-Hispanic
******************************
 Expand Dataset
******************************
     Add Counter
     Generate unique ID
     Counter max length 4

In [58]:
# Manually fix issue with L Gilbert Carroll Middle SAB
condition1 = (srec_df['NCESSCH'] == '370393002235')
conditions = condition1
# Gilbert Carroll is an overlapping SAB
srec_df.loc[conditions,'ncessch_5'] = '370393002235'

# Manually fix issue with CIS ACADEMY
# Located in Pembroke, North Carolina
condition1 = (srec_df['NCESSCH'] == '370004002349')
conditions = condition1
srec_df.loc[conditions,'ncessch_6'] = '370004002349'

In [59]:
srec_df.head()

,index,NCESSCH,SCHNAM09,LEVEL09,CHARTR09,LATCOD09,LONCOD09,racecat5,race,hispan,...,srecid,ncessch_1,ncessch_2,ncessch_3,ncessch_4,gradelevel1,gradelevel2,gradelevel3,ncessch_5,ncessch_6
0,1,370393001569,DEEP BRANCH ELEMENTARY,1,2,34.623182,-79.122924,1.0,3.0,0.0,...,S370393001569syr20092010c0001,370393001569,NaN,NaN,NaN,PK,PK,PK,NaN,NaN
1,1,370393001569,DEEP BRANCH ELEMENTARY,1,2,34.623182,-79.122924,1.0,3.0,0.0,...,S370393001569syr20092010c0002,370393001569,NaN,NaN,NaN,PK,PK,PK,NaN,NaN
2,1,370393001569,DEEP BRANCH ELEMENTARY,1,2,34.623182,-79.122924,1.0,3.0,0.0,...,S370393001569syr20092010c0003,370393001569,NaN,NaN,NaN,PK,PK,PK,NaN,NaN
3,1,370393001569,DEEP BRANCH ELEMENTARY,1,2,34.623182,-79.122924,1.0,3.0,0.0,...,S370393001569syr20092010c0004,370393001569,NaN,NaN,NaN,PK,PK,PK,NaN,NaN
4,1,370393001569,DEEP BRANCH ELEMENTARY,1,2,34.623182,-79.122924,1.0,3.0,0.0,...,S370393001569syr20092010c0005,370393001569,NaN,NaN,NaN,PK,PK,PK,NaN,NaN

In [60]:
srec_df.head(1).T

                                          0
index                                     1
NCESSCH                        370393001569
SCHNAM09             DEEP BRANCH ELEMENTARY
LEVEL09                                   1
CHARTR09                                  2
LATCOD09                          34.623182
LONCOD09                         -79.122924
racecat5                                1.0
race                                    3.0
hispan                                  0.0
sex                                     2.0
gradelevel                               PK
srec_counter                              1
srecid        S370393001569syr20092010c0001
ncessch_1                      370393001569
ncessch_2                               NaN
ncessch_3                               NaN
ncessch_4                               NaN
gradelevel1                              PK
gradelevel2                              PK
gradelevel3                              PK
ncessch_5                               NaN
ncessch_6                               NaN

In [61]:

srec_df.srecid.astype(str).describe()

count                             24024
unique                            24024
top       S370393001569syr20092010c0001
freq                                  1
Name: srecid, dtype: object

In [62]:
# Collapse data by NCESSCH with total enrollment
year = '2009-2010'
school_total_enroll = srec_df[['NCESSCH','SCHNAM09','srecid']].groupby(['NCESSCH','SCHNAM09']).count().reset_index()
school_total_enroll.rename(columns={'srecid':f'total_enroll{year}'}, inplace=True)
school_total_enroll

         NCESSCH                    SCHNAM09  total_enroll2009-2010
0   370004002349                 CIS ACADEMY                    109
1   370393001569      DEEP BRANCH ELEMENTARY                    477
2   370393001570            FAIRGROVE MIDDLE                    318
3   370393001571      GREEN GROVE ELEMENTARY                    252
4   370393001572          LITTLEFIELD MIDDLE                    781
5   370393001573      LONG BRANCH ELEMENTARY                    420
6   370393001574         MAGNOLIA ELEMENTARY                    817
7   370393001575                ORRUM MIDDLE                    335
8   370393001576         OXENDINE ELEMENTARY                    375
9   370393001577          PARKTON ELEMENTARY                    596
10  370393001578         PEMBROKE ELEMENTARY                    771
11  370393001579             PEMBROKE MIDDLE                    664
12  370393001581      PINEY GROVE ELEMENTARY                    653
13  370393001583         PROSPECT ELEMENTARY                    997
14  370393001585      REX-RENNERT ELEMENTARY                    440
15  370393001588      SOUTHSIDE/ASHPOLE ELEM                    368
16  370393001589     UNION CHAPEL ELEMENTARY                    551
17  370393001590            UNION ELEMENTARY                    459
18  370393002050        EAST ROBESON PRIMARY                    649
19  370393002051         R B DEAN ELEMENTARY                    377
20  370393002052             TOWNSEND MIDDLE                    238
21  370393002102          PURNELL SWETT HIGH                   1684
22  370393002183              ROWLAND MIDDLE                    159
23  370393002184          SOUTH ROBESON HIGH                    534
24  370393002232               FAIRMONT HIGH                    706
25  370393002233             FAIRMONT MIDDLE                    411
26  370393002234       JANIE C HARGRAVE ELEM                    208
27  370393002235    L GILBERT CARROLL MIDDLE                    602
28  370393002236       LUMBERTON JUNIOR HIGH                    598
29  370393002237       LUMBERTON SENIOR HIGH                   2083
30  370393002238         PETERSON ELEMENTARY                    540
31  370393002239            RED SPRINGS HIGH                    700
32  370393002240          RED SPRINGS MIDDLE                    588
33  370393002241        ROSENWALD ELEMENTARY                    570
34  370393002242  ROWLAND NORMENT ELEMENTARY                    597
35  370393002243      SAINT PAULS ELEMENTARY                    896
36  370393002244            SAINT PAULS HIGH                    894
37  370393002245          SAINT PAULS MIDDLE                    481
38  370393002246       TANGLEWOOD ELEMENTARY                    499
39  370393002247                W H KNUCKLES                    291
40  370393002248   WEST LUMBERTON ELEMENTARY                    162
41  370393002791   PSRC EARLY COLLEGE AT RCC                    174

In [63]:
# save as csv
school_total_enroll.to_csv(f"{outputfolder_tidy}\\{communityname}_studentcount_{year}.csv", index=False)

In [64]:
# Create list of school names 
schoollist = srec_df['NCESSCH'].unique().tolist()
# loop over the list of schools and create a dataframe for each school
for school in schoollist:
    # Create a dataframe for each school
    school_df = srec_df[srec_df['NCESSCH'] == school]
    print(school_df[['CHARTR09','SCHNAM09','LEVEL09','gradelevel']].\
        groupby(['CHARTR09','LEVEL09','gradelevel']).describe())

                            SCHNAM09
                               count unique                     top freq
CHARTR09 LEVEL09 gradelevel
2        1       G01              64      1  DEEP BRANCH ELEMENTARY   64
                 G02              53      1  DEEP BRANCH ELEMENTARY   53
                 G03              71      1  DEEP BRANCH ELEMENTARY   71
                 G04              79      1  DEEP BRANCH ELEMENTARY   79
                 G05              67      1  DEEP BRANCH ELEMENTARY   67
                 G06              48      1  DEEP BRANCH ELEMENTARY   48
                 KG               62      1  DEEP BRANCH ELEMENTARY   62
                 PK               33      1  DEEP BRANCH ELEMENTARY   33
                            SCHNAM09
                               count unique                     top freq
CHARTR09 LEVEL09 gradelevel
2        1       G01              66      1  GREEN GROVE ELEMENTARY   66
                 G02              65      1  GREEN GROVE ELEMENTARY   65
                 G03              56      1  GREEN GROVE ELEMENTARY   56
                 KG               50      1  GREEN GROVE ELEMENTARY   50
                 PK               15      1  GREEN GROVE ELEMENTARY   15
                            SCHNAM09
                               count unique                     top freq
CHARTR09 LEVEL09 gradelevel
2        1       G01              79      1  LONG BRANCH ELEMENTARY   79
                 G02              78      1  LONG BRANCH ELEMENTARY   78
                 G03              87      1  LONG BRANCH ELEMENTARY   87
                 G04              77      1  LONG BRANCH ELEMENTARY   77
                 KG               69      1  LONG BRANCH ELEMENTARY   69
                 PK               30      1  LONG BRANCH ELEMENTARY   30
                            SCHNAM09
                               count unique                  top freq
CHARTR09 LEVEL09 gradelevel
2        1       G01              74      1  MAGNOLIA ELEMENTARY   74
                 G02              72      1  MAGNOLIA ELEMENTARY   72
                 G03              80      1  MAGNOLIA ELEMENTARY   80
                 G04              78      1  MAGNOLIA ELEMENTARY   78
                 G05              62      1  MAGNOLIA ELEMENTARY   62
                 G06              66      1  MAGNOLIA ELEMENTARY   66
                 G07             138      1  MAGNOLIA ELEMENTARY  138
                 G08             150      1  MAGNOLIA ELEMENTARY  150
                 KG               63      1  MAGNOLIA ELEMENTARY   63
                 PK               34      1  MAGNOLIA ELEMENTARY   34
                            SCHNAM09
                               count unique                  top freq
CHARTR09 LEVEL09 gradelevel
2        1       G01              59      1  OXENDINE ELEMENTARY   59
                 G02              51      1  OXENDINE ELEMENTARY   51
                 G03              49      1  OXENDINE ELEMENTARY   49
                 G04              65      1  OXENDINE ELEMENTARY   65
                 G05              51      1  OXENDINE ELEMENTARY   51
                 G06              44      1  OXENDINE ELEMENTARY   44
                 KG               41      1  OXENDINE ELEMENTARY   41
                 PK               15      1  OXENDINE ELEMENTARY   15
                            SCHNAM09
                               count unique                 top freq
CHARTR09 LEVEL09 gradelevel
2        1       G01              74      1  PARKTON ELEMENTARY   74
                 G02              65      1  PARKTON ELEMENTARY   65
                 G03              62      1  PARKTON ELEMENTARY   62
                 G04              77      1  PARKTON ELEMENTARY   77
                 G05              57      1  PARKTON ELEMENTARY   57
                 G06              66      1  PARKTON ELEMENTARY   66
                 G07              59      1  PARKTON ELEMENTARY   59
                 G08              51      1  PARKTON ELEMENTARY   51
                 KG               69      1  PARKTON ELEMENTARY   69
                 PK               16      1  PARKTON ELEMENTARY   16
                            SCHNAM09
                               count unique                  top freq
CHARTR09 LEVEL09 gradelevel
2        1       G01             138      1  PEMBROKE ELEMENTARY  138
                 G02             117      1  PEMBROKE ELEMENTARY  117
                 G03             146      1  PEMBROKE ELEMENTARY  146
                 G04             115      1  PEMBROKE ELEMENTARY  115
                 G05             135      1  PEMBROKE ELEMENTARY  135
                 KG              104      1  PEMBROKE ELEMENTARY  104
                 PK               16      1  PEMBROKE ELEMENTARY   16
                            SCHNAM09
                               count unique                     top freq
CHARTR09 LEVEL09 gradelevel
2        1       G01              98      1  PINEY GROVE ELEMENTARY   98
                 G02              86      1  PINEY GROVE ELEMENTARY   86
                 G03              91      1  PINEY GROVE ELEMENTARY   91
                 G04              92      1  PINEY GROVE ELEMENTARY   92
                 G05              81      1  PINEY GROVE ELEMENTARY   81
                 G06              93      1  PINEY GROVE ELEMENTARY   93
                 KG               78      1  PINEY GROVE ELEMENTARY   78
                 PK               34      1  PINEY GROVE ELEMENTARY   34
                            SCHNAM09
                               count unique                  top freq
CHARTR09 LEVEL09 gradelevel
2        1       G01              98      1  PROSPECT ELEMENTARY   98
                 G02              82      1  PROSPECT ELEMENTARY   82
                 G03             107      1  PROSPECT ELEMENTARY  107
                 G04             127      1  PROSPECT ELEMENTARY  127
                 G05             113      1  PROSPECT ELEMENTARY  113
                 G06             113      1  PROSPECT ELEMENTARY  113
                 G07             135      1  PROSPECT ELEMENTARY  135
                 G08             112      1  PROSPECT ELEMENTARY  112
                 KG               80      1  PROSPECT ELEMENTARY   80
                 PK               30      1  PROSPECT ELEMENTARY   30
                            SCHNAM09
                               count unique                     top freq
CHARTR09 LEVEL09 gradelevel
2        1       G01              86      1  REX-RENNERT ELEMENTARY   86
                 G02              82      1  REX-RENNERT ELEMENTARY   82
                 G03              64      1  REX-RENNERT ELEMENTARY   64
                 G04              73      1  REX-RENNERT ELEMENTARY   73
                 G05              55      1  REX-RENNERT ELEMENTARY   55
                 KG               64      1  REX-RENNERT ELEMENTARY   64
                 PK               16      1  REX-RENNERT ELEMENTARY   16
                            SCHNAM09
                               count unique                     top freq
CHARTR09 LEVEL09 gradelevel
2        1       G01              59      1  SOUTHSIDE/ASHPOLE ELEM   59
                 G02              65      1  SOUTHSIDE/ASHPOLE ELEM   65
                 G03              49      1  SOUTHSIDE/ASHPOLE ELEM   49
                 G04              54      1  SOUTHSIDE/ASHPOLE ELEM   54
                 G05              60      1  SOUTHSIDE/ASHPOLE ELEM   60
                 KG               56      1  SOUTHSIDE/ASHPOLE ELEM   56
                 PK               25      1  SOUTHSIDE/ASHPOLE ELEM   25
                            SCHNAM09
                               count unique                      top freq
CHARTR09 LEVEL09 gradelevel
2        1       G01              76      1  UNION CHAPEL ELEMENTARY   76
                 G02              62      1  UNION CHAPEL ELEMENTARY   62
                 G03              80      1  UNION CHAPEL ELEMENTARY   80
                 G04              79      1  UNION CHAPEL ELEMENTARY   79
                 G05              87      1  UNION CHAPEL ELEMENTARY   87
                 G06              75      1  UNION CHAPEL ELEMENTARY   75
                 KG               77      1  UNION CHAPEL ELEMENTARY   77
                 PK               15      1  UNION CHAPEL ELEMENTARY   15
                            SCHNAM09
                               count unique               top freq
CHARTR09 LEVEL09 gradelevel
2        1       G01              72      1  UNION ELEMENTARY   72
                 G02              54      1  UNION ELEMENTARY   54
                 G03              62      1  UNION ELEMENTARY   62
                 G04              74      1  UNION ELEMENTARY   74
                 G05              63      1  UNION ELEMENTARY   63
                 G06              66      1  UNION ELEMENTARY   66
                 KG               53      1  UNION ELEMENTARY   53
                 PK               15      1  UNION ELEMENTARY   15
                            SCHNAM09
                               count unique                   top freq
CHARTR09 LEVEL09 gradelevel
2        1       G01             162      1  EAST ROBESON PRIMARY  162
                 G02             150      1  EAST ROBESON PRIMARY  150
                 G03             168      1  EAST ROBESON PRIMARY  168
                 KG              121      1  EAST ROBESON PRIMARY  121
                 PK               48      1  EAST ROBESON PRIMARY   48
                            SCHNAM09
                               count unique                  top freq
CHARTR09 LEVEL09 gradelevel
2        1       G01              75      1  R B DEAN ELEMENTARY   75
                 G02              72      1  R B DEAN ELEMENTARY   72
                 G03              59      1  R B DEAN ELEMENTARY   59
                 G04              70      1  R B DEAN ELEMENTARY   70
                 KG               62      1  R B DEAN ELEMENTARY   62
                 PK               39      1  R B DEAN ELEMENTARY   39
                            SCHNAM09
                               count unique                  top freq
CHARTR09 LEVEL09 gradelevel
2        1       G01             115      1  PETERSON ELEMENTARY  115
                 G02             104      1  PETERSON ELEMENTARY  104
                 G03              97      1  PETERSON ELEMENTARY   97
                 G04             109      1  PETERSON ELEMENTARY  109
                 KG              100      1  PETERSON ELEMENTARY  100
                 PK               15      1  PETERSON ELEMENTARY   15
                            SCHNAM09
                               count unique                   top freq
CHARTR09 LEVEL09 gradelevel
2        1       G01             110      1  ROSENWALD ELEMENTARY  110
                 G02              97      1  ROSENWALD ELEMENTARY   97
                 G03             109      1  ROSENWALD ELEMENTARY  109
                 G04             150      1  ROSENWALD ELEMENTARY  150
                 KG               90      1  ROSENWALD ELEMENTARY   90
                 PK               14      1  ROSENWALD ELEMENTARY   14
                            SCHNAM09
                               count unique                     top freq
CHARTR09 LEVEL09 gradelevel
2        1       G01             153      1  SAINT PAULS ELEMENTARY  153
                 G02             152      1  SAINT PAULS ELEMENTARY  152
                 G03             160      1  SAINT PAULS ELEMENTARY  160
                 G04             131      1  SAINT PAULS ELEMENTARY  131
                 G05             127      1  SAINT PAULS ELEMENTARY  127
                 KG              144      1  SAINT PAULS ELEMENTARY  144
                 PK               29      1  SAINT PAULS ELEMENTARY   29
                            SCHNAM09
                               count unique           top freq
CHARTR09 LEVEL09 gradelevel
2        1       G01              54      1  W H KNUCKLES   54
                 G02              53      1  W H KNUCKLES   53
                 G03              56      1  W H KNUCKLES   56
                 G04              66      1  W H KNUCKLES   66
                 KG               46      1  W H KNUCKLES   46
                 PK               16      1  W H KNUCKLES   16
                            SCHNAM09
                               count unique                        top freq
CHARTR09 LEVEL09 gradelevel
2        1       G01              37      1  WEST LUMBERTON ELEMENTARY   37
                 G02              31      1  WEST LUMBERTON ELEMENTARY   31
                 G03              25      1  WEST LUMBERTON ELEMENTARY   25
                 G04              23      1  WEST LUMBERTON ELEMENTARY   23
                 KG               32      1  WEST LUMBERTON ELEMENTARY   32
                 PK               14      1  WEST LUMBERTON ELEMENTARY   14
                            SCHNAM09
                               count unique                    top freq
CHARTR09 LEVEL09 gradelevel
2        1       G01              33      1  JANIE C HARGRAVE ELEM   33
                 G02              42      1  JANIE C HARGRAVE ELEM   42
                 G03              48      1  JANIE C HARGRAVE ELEM   48
                 G04              44      1  JANIE C HARGRAVE ELEM   44
                 KG               26      1  JANIE C HARGRAVE ELEM   26
                 PK               15      1  JANIE C HARGRAVE ELEM   15
                            SCHNAM09
                               count unique                         top freq
CHARTR09 LEVEL09 gradelevel
2        1       G01             124      1  ROWLAND NORMENT ELEMENTARY  124
                 G02             127      1  ROWLAND NORMENT ELEMENTARY  127
                 G03             112      1  ROWLAND NORMENT ELEMENTARY  112
                 G04             104      1  ROWLAND NORMENT ELEMENTARY  104
                 KG              114      1  ROWLAND NORMENT ELEMENTARY  114
                 PK               16      1  ROWLAND NORMENT ELEMENTARY   16
                            SCHNAM09
                               count unique                    top freq
CHARTR09 LEVEL09 gradelevel
2        1       G01             111      1  TANGLEWOOD ELEMENTARY  111
                 G02              89      1  TANGLEWOOD ELEMENTARY   89
                 G03             108      1  TANGLEWOOD ELEMENTARY  108
                 G04             103      1  TANGLEWOOD ELEMENTARY  103
                 KG               88      1  TANGLEWOOD ELEMENTARY   88
                            SCHNAM09
                               count unique               top freq
CHARTR09 LEVEL09 gradelevel
2        2       G04              61      1  FAIRGROVE MIDDLE   61
                 G05              62      1  FAIRGROVE MIDDLE   62
                 G06              64      1  FAIRGROVE MIDDLE   64
                 G07              60      1  FAIRGROVE MIDDLE   60
                 G08              71      1  FAIRGROVE MIDDLE   71
                            SCHNAM09
                               count unique                 top freq
CHARTR09 LEVEL09 gradelevel
2        2       G04             151      1  LITTLEFIELD MIDDLE  151
                 G05             153      1  LITTLEFIELD MIDDLE  153
                 G06             153      1  LITTLEFIELD MIDDLE  153
                 G07             169      1  LITTLEFIELD MIDDLE  169
                 G08             155      1  LITTLEFIELD MIDDLE  155
                            SCHNAM09
                               count unique           top freq
CHARTR09 LEVEL09 gradelevel
2        2       G05              88      1  ORRUM MIDDLE   88
                 G06              75      1  ORRUM MIDDLE   75
                 G07              88      1  ORRUM MIDDLE   88
                 G08              84      1  ORRUM MIDDLE   84
                            SCHNAM09
                               count unique              top freq
CHARTR09 LEVEL09 gradelevel
2        2       G05              61      1  TOWNSEND MIDDLE   61
                 G06              61      1  TOWNSEND MIDDLE   61
                 G07              60      1  TOWNSEND MIDDLE   60
                 G08              56      1  TOWNSEND MIDDLE   56
                            SCHNAM09
                               count unique              top freq
CHARTR09 LEVEL09 gradelevel
2        2       G05             115      1  FAIRMONT MIDDLE  115
                 G06              99      1  FAIRMONT MIDDLE   99
                 G07             109      1  FAIRMONT MIDDLE  109
                 G08              88      1  FAIRMONT MIDDLE   88
                            SCHNAM09
                               count unique                       top freq
CHARTR09 LEVEL09 gradelevel
2        2       G05             313      1  L GILBERT CARROLL MIDDLE  313
                 G06             289      1  L GILBERT CARROLL MIDDLE  289
                            SCHNAM09
                               count unique                 top freq
CHARTR09 LEVEL09 gradelevel
2        2       G05             109      1  RED SPRINGS MIDDLE  109
                 G06             136      1  RED SPRINGS MIDDLE  136
                 G07             176      1  RED SPRINGS MIDDLE  176
                 G08             167      1  RED SPRINGS MIDDLE  167
                            SCHNAM09
                               count unique          top freq
CHARTR09 LEVEL09 gradelevel
1        2       G06              32      1  CIS ACADEMY   32
                 G07              39      1  CIS ACADEMY   39
                 G08              38      1  CIS ACADEMY   38
                            SCHNAM09
                               count unique              top freq
CHARTR09 LEVEL09 gradelevel
2        2       G06             119      1  PEMBROKE MIDDLE  119
                 G07             275      1  PEMBROKE MIDDLE  275
                 G08             270      1  PEMBROKE MIDDLE  270
                            SCHNAM09
                               count unique             top freq
CHARTR09 LEVEL09 gradelevel
2        2       G06              60      1  ROWLAND MIDDLE   60
                 G07              50      1  ROWLAND MIDDLE   50
                 G08              49      1  ROWLAND MIDDLE   49
                            SCHNAM09
                               count unique                 top freq
CHARTR09 LEVEL09 gradelevel
2        2       G06             175      1  SAINT PAULS MIDDLE  175
                 G07             156      1  SAINT PAULS MIDDLE  156
                 G08             150      1  SAINT PAULS MIDDLE  150
                            SCHNAM09
                               count unique                    top freq
CHARTR09 LEVEL09 gradelevel
2        2       G07             311      1  LUMBERTON JUNIOR HIGH  311
                 G08             287      1  LUMBERTON JUNIOR HIGH  287
                            SCHNAM09
                               count unique                 top freq
CHARTR09 LEVEL09 gradelevel
2        3       G09             502      1  PURNELL SWETT HIGH  502
                 G10             452      1  PURNELL SWETT HIGH  452
                 G11             387      1  PURNELL SWETT HIGH  387
                 G12             343      1  PURNELL SWETT HIGH  343
                            SCHNAM09
                               count unique                 top freq
CHARTR09 LEVEL09 gradelevel
2        3       G09             171      1  SOUTH ROBESON HIGH  171
                 G10             138      1  SOUTH ROBESON HIGH  138
                 G11             106      1  SOUTH ROBESON HIGH  106
                 G12             119      1  SOUTH ROBESON HIGH  119
                            SCHNAM09
                               count unique            top freq
CHARTR09 LEVEL09 gradelevel

In [65]:
srec_df[['CHARTR09','SCHNAM09','LEVEL09','gradelevel']].\
    groupby(['CHARTR09','LEVEL09','gradelevel']).describe()

                            SCHNAM09
                               count unique                       top freq
CHARTR09 LEVEL09 gradelevel
1        2       G06              32      1               CIS ACADEMY   32
                 G07              39      1               CIS ACADEMY   39
                 G08              38      1               CIS ACADEMY   38
2        1       G01            2017     23      EAST ROBESON PRIMARY  162
                 G02            1849     23    SAINT PAULS ELEMENTARY  152
                 G03            1946     23      EAST ROBESON PRIMARY  168
                 G04            1790     21      ROSENWALD ELEMENTARY  150
                 G05             958     12       PEMBROKE ELEMENTARY  135
                 G06             571      8       PROSPECT ELEMENTARY  113
                 G07             332      3       MAGNOLIA ELEMENTARY  138
                 G08             313      3       MAGNOLIA ELEMENTARY  150
                 KG             1689     23    SAINT PAULS ELEMENTARY  144
                 PK              500     22      EAST ROBESON PRIMARY   48
         2       G04             212      2        LITTLEFIELD MIDDLE  151
                 G05             901      7  L GILBERT CARROLL MIDDLE  313
                 G06            1231     10  L GILBERT CARROLL MIDDLE  289
                 G07            1454     10     LUMBERTON JUNIOR HIGH  311
                 G08            1377     10     LUMBERTON JUNIOR HIGH  287
         3       G09            2132      7     LUMBERTON SENIOR HIGH  658
                 G10            1850      7     LUMBERTON SENIOR HIGH  572
                 G11            1474      7     LUMBERTON SENIOR HIGH  471
                 G12            1319      7     LUMBERTON SENIOR HIGH  382