In [19]:
# To reload submodules need to use this magic command to set autoreload on
%load_ext autoreload
%autoreload 2

# open, read, and execute python program with reusable commands
from nsi_01a_downloadfiles import download_nsi_files

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [20]:
help(download_nsi_files)

Help on function download_nsi_files in module nsi_01a_downloadfiles:

download_nsi_files(county_fips, unique_id='fd_id_bid', unique_id_vars=['fd_id', 'bid'], keepvars=['occtype', 'sqft'], replace=False)
    Download files from the National Structure Inventory (NSI) website.
    Returns a geopandas dataframe with the data.

In [21]:
county_fips = '26127'
nsi_gdf = download_nsi_files(county_fips=county_fips)

Making new directory to save output:  Outputdata\00_SourceData
Making new directory to save output:  Outputdata\00_SourceData\nsi_sec_usace_army_mil
   Saving file Outputdata\00_SourceData\nsi_sec_usace_army_mil\nsi_01av1_hua_26127.shp

In [22]:
nsi_gdf.head()

,fd_id_bid,fd_id,bid,occtype,sqft,bldgsource,geometry
0,nsi-532313663-86MMJR3R+2XQ-0-0-0-0,532313663,86MMJR3R+2XQ-0-0-0-0,RES1-1SWB,1216.000,NSI_2023-05-22,POINT (-86.15750 43.60258)
1,nsi-532266788-86MMHH4C+QR3-3-4-2-5,532266788,86MMHH4C+QR3-3-4-2-5,RES1-1SWB,2721.630,NSI_2023-05-22,POINT (-86.42797 43.55689)
2,nsi-532266802-86MMHH47+563-4-3-2-2,532266802,86MMHH47+563-4-3-2-2,RES1-1SNB,1551.440,NSI_2023-05-22,POINT (-86.43695 43.55540)
3,nsi-532266804-86MMHH37+R77-1-3-1-4,532266804,86MMHH37+R77-1-3-1-4,RES1-1SNB,651.826,NSI_2023-05-22,POINT (-86.43684 43.55454)
4,nsi-532266806-86MMHH37+W5F-4-3-4-4,532266806,86MMHH37+W5F-4-3-4-4,RES1-2SNB,7516.920,NSI_2023-05-22,POINT (-86.43709 43.55482)

In [23]:
# check unique ids
nsi_gdf[['fd_id','bid']].astype(str).describe()

            fd_id                   bid
count       17553                 17553
unique      17553                 17169
top     532313663  86MMGJQP+C6F-0-0-0-0
freq            1                    23

In [24]:
# print columns
nsi_gdf.columns

Index(['fd_id_bid', 'fd_id', 'bid', 'occtype', 'sqft', 'bldgsource',
       'geometry'],
      dtype='object')

In [25]:
# describe sqft
nsi_gdf['sqft'].describe()

count     17553.000000
mean       2943.144987
std        8611.828746
min          43.698700
25%        1195.400000
50%        1855.664000
75%        2873.900000
max      510810.000000
Name: sqft, dtype: float64

In [26]:
# how many buildings have missing sqft?
nsi_gdf['sqft'].isna().sum()

0

In [27]:
# group by occtype and count
nsi_gdf[['fd_id','occtype']].groupby('occtype').count()

           fd_id
occtype
AGR1          70
COM1         139
COM10          1
COM2          90
COM3         120
COM4         742
COM5          26
COM6           4
COM7          21
COM8          80
EDU1          23
GOV1          38
GOV2           8
IND1          24
IND2          79
IND3           7
IND4           5
IND6         107
REL1         126
RES1-1SNB   3681
RES1-1SWB   6385
RES1-2SNB   1940
RES1-2SWB   3313
RES1-3SNB     90
RES1-3SWB    117
RES2          85
RES3A        168
RES3B          7
RES3C          3
RES3D          3
RES4          38
RES5           2
RES6          11